<p id="notice"><%= notice %></p>

<p>
  <strong>Merchant:</strong>
  <%= @offer.merchant_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @offer.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @offer.url %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @offer.expires_at %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
